.Slide_container {
  margin: 15px auto;
  position: relative;
  display: flex;
  overflow-x: hidden;
  height: auto;
  /* overflow-x: hidden; */
}
.Slide_list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  /* transform: translateX(1083px); */
}
.Slide_detail {
  max-width: 1060px;
  height: auto;
  position: relative;
  outline: none;
  margin: 0px 15px;
}
.Slide_detail_img {
  border-radius: 4px;
  width: inherit;
}
/* 슬라이드 텍스트 */
.Slide_detail_text {
  position: absolute;
  bottom: 28px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
  background-color: white;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 99;
}
.Slide_detail_text h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0px 20px;
  margin-top: 20px;
}
.Slide_detail_text h3 {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  margin: 0px 20px;
  margin-bottom: 20px;
}
.Slide_detail_text hr {
  margin-bottom: 10px;
  opacity: 0.4;
}
.Slide_detail_text span {
  color: #36f;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 1;
  margin-left: 20px;
  cursor: pointer;
}
.Slide_detail_text-midea {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 20px;
}
.Slide_detail_text-midea h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  width: auto;
}
.Slide_detail_text-midea h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  margin-top: 6px;
  width: auto;
}
.Slide_detail_text-midea span {
  font-size: 14px;
  margin-top: 8px;
  color: #36f;
  font-weight: 700;
  cursor: pointer;
}
/* 슬라이드 부가옵션 */
.Slide_center {
  opacity: 1;
}
.Slide_side {
  opacity: 0.5;
}
.Slide_text_side {
  opacity: 0;
}
/* 버튼레이아웃 */
.btn_left {
  position: absolute;
  top: 120px;
  left: calc((100% - 1200px) / 2);
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  overflow: visible;
  z-index: 10;
  border: none;
  cursor: pointer;
}
.btn_right {
  position: absolute;
  top: 120px;
  right: calc((100% - 1200px) / 2);
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  overflow: visible;
  z-index: 10;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .btn_left {
    display: none;
  }
  .btn_right {
    display: none;
  }
  .Slide_detail_text-midea {
    display: flex;
    width: 80vw;
  }
  .Slide_detail_text {
    display: none;
  }
  .Slide_list {
    display: flex;
    white-space: nowrap;

    /* transform: translateX(80vw); */

    /* transform: translateX(calc((160vw + 10px))); */
  }
  .Slide_detail {
    white-space: nowrap;
    margin: 0px 10px;
    width: 80vw;
  }
  .Slide_detail_img {
    height: 182px;
  }
}
