body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.Slide_Main {
  position: relative;
}
.Slide_box {
  position: relative;
}
.Slide_container {
  position: relative;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
}
.Slide_deatil {
  position: relative;
  width: 100%;
  display: inline-block;
}
.Slide_detail_img {
  border-radius: 4px;
  object-fit: cover;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  max-height: 310px;
}
.slick-slider {
  width: 100%;
}
.slick-slide {
  padding: 20px 10px;
  text-align: center;
  margin-right: -5px;
  margin-left: 4px;
  filter: brightness(50%);
}
.slick-current {
  filter: brightness(100%);
}
.slick-current > div > div > div:nth-child(2) {
  display: block;
}

/* 슬라이드 텍스트 */
.Slide_detail_text {
  display: none;
  position: absolute;
  bottom: 28px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
  background-color: white;
  text-align: left;
  left: 34px;
  z-index: 90;
}
.Slide_detail_text h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0px 20px;
  margin-top: 20px;
}
.Slide_detail_text h3 {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  height: 44px;
  margin: 0px 20px;
}
.Slide_detail_text hr {
  margin-bottom: 10px;
  opacity: 0.4;
}
.Slide_detail_text span {
  color: #36f;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 1;
  margin-left: 20px;
  cursor: pointer;
}
.Slide_detail_text-midea {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 20px;
}
.Slide_detail_text-midea h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  width: auto;
}
.Slide_detail_text-midea h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  margin-top: 6px;
  width: auto;
}
.Slide_detail_text-midea span {
  font-size: 14px;
  margin-top: 8px;
  color: #36f;
  font-weight: 700;
  cursor: pointer;
}

/* 버튼레이아웃 */
.btn_left {
  position: absolute;
  top: 150px;
  left: 5px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  overflow: visible;
  z-index: 10;
  border: none;
  cursor: pointer;
}
.btn_right {
  position: absolute;
  top: 150px;
  right: 5px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  overflow: visible;
  z-index: 10;
  border: none;
  cursor: pointer;
}
/* 반응형 */
@media screen and (max-width: 1200px) {
  .btn_left {
    display: none;
  }
  .btn_right {
    display: none;
  }
  .Slide_detail_text-midea {
    display: flex;
  }
  .Slide_detail_text {
    display: none;
  }
  .Slide_detail_img {
    width: 100%;
    height: 182px;
  }
  .slick-slider {
    margin: 0 -5px;
    width: 100%;
  }
  .slick-slide {
    padding: 20px 5px;
    text-align: center;
    margin-right: 5px;
    margin-left: -5px;
  }
  .slick-current > div > div > div:nth-child(2) {
    display: none;
  }
}
